@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
@font-face {
  font-family: 'optima';
  src: url('../fonts/optima-webfont.eot');
  src: url('../fonts/optima-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/optima-webfont.woff') format('woff'), url('../fonts/optima-webfont.ttf') format('truetype'), url('../fonts/optima-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'optima-bold';
  src: url('../fonts/optima_b-webfont.eot');
  src: url('../fonts/optima_b-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/optima_b-webfont.woff') format('woff'), url('../fonts/optima_b-webfont.ttf') format('truetype'), url('../fonts/optima_b-webfont.svg') format('svg');
  font-weight: bold;
  font-style: bold;
}
@font-face {
  font-family: 'brandon';
  src: url('../fonts/brandon_medium-webfont.eot');
  src: url('../fonts/brandon_medium-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/brandon_medium-webfont.woff') format('woff'), url('../fonts/brandon_medium-webfont.ttf') format('truetype'), url('../fonts/brandon_medium-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
}
h1 {
  color: #747575;
  font-size: 100px;
  line-height: 90px;
  margin: 0;
}
h2 {
  color: #46484a;
  font-size: 70px;
}
h1,
h2,
h3 {
  font-family: 'optima-bold' !important;
}
body {
  font-family: 'optima', 'Roboto';
  font-size: 20px;
  line-height: 22px;
}
strong {
  font-family: 'optima-bold';
}
@media only screen and (min-width: 1200px) {
  .uk-navbar-container {
    max-width: 1400px;
    margin: 0 auto;
  }
}
.uk-logo {
  z-index: 10;
}
.uk-logo img {
  max-width: 300px;
}
.uk-background-muted {
  background-color: #e1e1e1;
}
#header-site {
  background: transparent;
  position: absolute;
  width: 100%;
}
#header-site .tm-toolbar {
  padding-top: 10px;
}
#header-site .tm-toolbar .social_media ul li a {
  color: #fff;
}
#header-site .tm-nav .uk-navbar-right {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  z-index: 10;
}
#header-site .tm-nav .uk-navbar-right .uk-navbar-nav li a {
  color: #fff;
  font-family: 'optima';
  font-size: 22px;
  text-transform: none;
  padding: 0 35px;
}
#header-site .tm-nav .uk-navbar-right .uk-navbar-nav li a:hover {
  color: #063C3C;
}
#header-site .tm-nav .uk-navbar-right .uk-navbar-dropdown {
  background-color: rgba(0, 0, 0, 0.25);
  padding: 25px 15px;
}
#header-site .tm-nav .uk-navbar-right .uk-navbar-dropdown .uk-navbar-dropdown-nav li a {
  font-size: 18px;
  padding: 2px 10px;
}
#header-site .tm-nav .uk-navbar-right .uk-navbar-dropdown .uk-navbar-dropdown-nav li a:hover {
  color: #42BCA8;
}
#header-top {
  background-position: 50% 0;
  background-size: cover !important;
  border-bottom: 3px solid #898b8b;
  display: block !important;
  height: 500px;
}
#editor h1 {
  font-size: 100px;
  letter-spacing: 4px;
  margin-bottom: 100px;
}
@media only screen and (min-width: 1200px) {
  #editor .uk-container {
    max-width: 1000px;
  }
}
#slider .uk-slider-items li,
#slider-bottom .uk-slider-items li {
  padding-left: 15px;
}
#slider .uk-slidenav,
#slider-bottom .uk-slidenav {
  background-color: #ffffff78;
  color: #46484a;
}
#linked-images img {
  max-width: 250px;
}
.page-home #header-top {
  height: 600px;
}
.page-home #header-top .uk-overlay {
  color: #fff;
  font-size: 22px;
  line-height: 25px;
}
.page-home #text-image h2 {
  color: #747575;
  font-family: 'optima' !important;
  font-size: 70px;
  line-height: 70px;
}
.page-home #text-image .text div {
  margin: 100px auto;
  width: 40%;
}
.page-home #simple-content {
  color: #000;
}
.page-home #simple-content h3 {
  color: #747575;
  font-size: 45px;
  line-height: 40px;
}
.page-home #simple-content-title h2 {
  color: #747575;
  font-family: 'optima' !important;
  font-size: 60px;
  margin-bottom: 100px;
  margin-top: 30px;
}
.page-home #simple-content-title .rows div {
  margin-bottom: 60px;
}
.page-home #simple-content-title .rows .first {
  padding-left: 130px;
}
.page-home #simple-content-title .rows h3 {
  color: #46484a;
  font-size: 50px;
  line-height: 45px;
}
.page-home #simple-content-title .rows ul li {
  color: #000;
  font-family: 'brandon' !important;
  font-size: 22px;
  line-height: 22px;
}
.page-home #simple-content-title .rows ul li::marker {
  color: #42bba8;
}
.page-home #two-columns {
  color: #46484a;
}
.page-home #two-columns .uk-width-1-2\@m > div {
  margin: 0 auto;
  width: 75%;
}
.page-home #two-columns .uk-width-1-2\@m > div h3 {
  color: #747575;
  font-size: 50px;
  line-height: 45px;
  margin-bottom: 50px;
}
.page-home #stages {
  background: linear-gradient(to top, #E1E1E1 0%, #E1E1E1 320px, #fff 20%, #fff 100%);
}
.page-home #stages h2 {
  color: #747575;
  font-family: 'optima-bold' !important;
  font-size: 100px;
  margin-bottom: 100px;
}
.page-home #stages .stage-title {
  font-family: 'optima-bold' !important;
  font-size: 25px;
  margin-bottom: 40px;
}
.page-home #stages .stage-description {
  border-right: 2px solid #d2d2d2;
  color: #000;
  font-size: 14px;
  min-height: 220px;
  margin-bottom: 10px;
}
.page-home #stages .stage:last-child .stage-description {
  border-right: none;
}
@media only screen and (min-width: 1200px) {
  .page-home #stages {
    background: linear-gradient(to top, #E1E1E1 0%, #E1E1E1 320px, #fff 20%, #fff 100%);
  }
}
.page-services #editor .service {
  margin-bottom: 100px;
}
.page-services #editor .service h2 {
  margin-bottom: 50px;
  margin-left: 20px;
  line-height: 55px;
}
.page-about-us #editor {
  background-color: #e1e1e1;
}
.page-about-us #editor h2 {
  font-size: 30px;
  margin: 0;
}
.page-about-us #editor .subtitle {
  color: #000;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 100px;
  text-align: center;
}
.page-about-us #editor img {
  margin-top: 50px;
}
.page-about-us .our-team {
  background-color: #42bca8;
  color: #fff;
}
.page-about-us .our-team h2 {
  color: #fff;
  font-family: 'optima' !important;
  font-size: 100px;
  line-height: 95px;
  margin: 100px 0;
}
.page-about-us .our-team h2:after {
  background-image: url('../icons/bottom-right-corner.png');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 50%;
  content: " ";
  height: 100px;
  margin-top: 100px;
  position: absolute;
  right: 25%;
  width: 100px;
}
.page-about-us .our-team h2:before {
  background-image: url('../icons/top-left-corner.png');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 50%;
  content: " ";
  height: 100px;
  left: 25%;
  margin-top: -100px;
  position: absolute;
  width: 100px;
}
.page-about-us .our-team .icon img {
  max-height: 75px;
}
.page-about-us .our-team .name {
  padding-left: 0;
}
.page-about-us .our-team .name h3 {
  color: #fff;
}
.page-about-us .our-team .description {
  border-bottom: 1px solid #fff;
  text-align: justify;
  padding-bottom: 55px;
}
.page-careers #editor {
  padding-bottom: 0;
}
.page-careers #editor .gform_footer {
  text-align: center;
}
.page-careers #editor .gform_footer input[type=submit] {
  background-color: #747575;
  border-radius: 20px;
  color: #fff;
  font-family: 'optima';
  padding: 10px 20px;
}
.page-careers #linked-images h2 {
  color: #747575;
  font-size: 100px;
  margin-bottom: 100px;
}
.page-careers #linked-images p {
  font-size: 30px;
}
.page-careers #linked-images a {
  font-size: 30px;
}
.page-careers #editor .gform_body input[type=text] {
  background-color: #747575;
  border-radius: 20px;
  border-style: none;
  color: #fff;
  height: 40px;
}
.page-careers #editor .gform_footer {
  text-align: center;
}
.page-careers #editor .gform_footer input[type=submit] {
  background-color: #747575;
  border: 2px solid #747575;
  border-radius: 20px;
  color: #fff;
  font-family: 'optima';
  padding: 10px 20px;
}
.page-careers #editor .gform_footer input[type=submit]:hover {
  background-color: #fff;
  border: 2px solid #747575;
  color: #747575;
}
.page-careers .resources .uk-grid {
  margin: 0 auto;
  max-width: 60%;
}
.page-faqs .faqs-block {
  background-color: #e6e6e6;
}
.page-contact .form {
  margin-bottom: 40px;
}
.page-contact .form .gform_body input[type=text] {
  background-color: #747575;
  border-radius: 20px;
  border-style: none;
  color: #fff;
  height: 40px;
}
.page-contact .form .gform_body textarea {
  background-color: #747575;
  border-radius: 20px;
  border-style: none;
  color: #fff;
}
.page-contact .form .gform_footer {
  text-align: center;
}
.page-contact .form .gform_footer input[type=submit] {
  background-color: #747575;
  border: 2px solid #747575;
  border-radius: 20px;
  color: #fff;
  font-family: 'optima';
  padding: 10px 20px;
}
.page-contact .form .gform_footer input[type=submit]:hover {
  background-color: #fff;
  border: 2px solid #747575;
  color: #747575;
}
#tm-footer {
  background: #42bba8;
  color: #fff;
}
#tm-footer h2 {
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
}
#tm-footer .uk-iconnav li a {
  color: #fff;
}
#tm-footer .copyright {
  background: #00316c;
  font-size: 14px;
}
#tm-footer .footer-block-a .footer-text {
  font-size: 14px;
  margin-bottom: 20px;
}
#tm-footer .footer-block-a .footer-social a {
  display: inline-block;
  padding-bottom: 5px;
}
#tm-footer .footer-block-b ul li {
  padding: 10px 0;
}
#tm-footer .footer-block-b ul li a {
  font-size: 18px;
  color: #fff;
  line-height: 30px;
}
#tm-footer .footer-block-b ul li a:hover {
  color: #747575;
}
#tm-footer .footer-block-c {
  background-color: #fff;
  clip-path: ellipse(60% 90% at 62%);
}
